[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.1.3"
colorama = "==0.4.5"
customtkinter = "==4.6.3"
darkdetect = "==0.7.1"
importlib-metadata = "==5.0.0"
pillow = "==9.1.1"
pynput = "==1.7.3"
python-xlib = "==0.30"
six = "==1.16.0"
tk = "==0.1.0"
typer = "==0.4.2"
typing-extensions = "==4.4.0"
zipp = "==3.10.0"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.0"
